table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

td, th {
	border: 1px solid #aaaaaa;
	text-align: center;
	padding: 2px;
}

th {
	color: white;
	background-color: gray;
}

tr:nth-child(odd) input {
	background-color: #dddddd;
}

tr[name="total"] * {
	color: black;
	background-color: lightgray;
}

tr[name="players"] input {
	width: 100px;
	max-width: 100%;
	color: white;
	background-color: gray;
	font-weight: bold;
}

tr input {
	width: 100px;
	text-align: center;
	font-size: inherit;
	border: 0px;
}

.control {
	text-align: center;
}

.control button {
	margin: 1em;
	padding: .5em 2em;
}