table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

td, th {
	border: 1px solid #aaaaaa;
	text-align: center;
}

th {
	color: cyan;
	background-color: #444;
}

tr[name="total"] * {
	color: lightgray;
	background-color: #555;
}

tr input {
	width: 50px;
	padding-left: 1em;
	text-align: center;
	font-size: inherit;
	border: 0px;
	background-color: #666;
}

tr:nth-child(odd) input {
	background-color: #555;
}

tr[name="players"] input {
	padding-left: 0;
	width: 50px;
	background-color: #444;
	color: cyan;
	font-weight: bold;
}

.control {
	text-align: center;
}

.control button {
	margin: 1em;
	padding: .5em 2em;
}

body {
	background-color: #333;
}